.containerParent {
  height: auto;
  width: 100%;
  /* background-color: black; */
}
.cards {
  display: flex;
  justify-content: center;
  /* gap: 10rem; */
  flex-wrap: wrap;
}
.cardItem {
  width: 20rem;
  min-height: 10rem;
  /* background-color: black; */
  margin: 2rem 2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  overflow: hidden;
  padding: 0px 2px;
}
.containerItem {
  padding: 0.5rem 0.5rem;
  margin-top: 20px;
}
.cardImage {
  margin: auto;
  width: 70%;
  height: 20rem;
  padding-top: 10px;
}
